           @import url(https://fonts.googleapis.com/css?family=Pacifico);
             
             body {
                 font-family: Helvetica, Arial, sans-serif;
             }
             
             h1,
             h2, h3, h4,h5,h6 {
                 color: cadetblue;
                 font-family: "Pacifico", "Palatino Linotype"
             }

             #content {
                 
                 width: 90%;
                 max-width: 960px;
                 margin: 0 auto;
             }

             #logo {
                 background-color: white;
                 position: relative;
                 width: 110px;
                 border: 1px solid #000000;
             }
                          
             nav {
                 background-color: darkseagreen;
                 color: black
                 font-size: 1.2em;
                 line-height: 3em;
                 margin-top: 0;
                 padding-left: 6em;
             }
             
             
             img {
                 max-width: 100%
             }
                
             nav > ul {
                 list-style-type: none;
                 display: flex;
                 justify-content: space-around;
                 flex-flow: row wrap;
                 margin: 0;
    
             }
            
             nav li {
                 flex: 1 0 6em
             }
             nav a:link, nav a:visited {
                 color: white
                 text-decoration: none;
             }
             
             nav a:hover {
                 text-decoration: underline;
             }
             
             
             a {
                 color:aliceblue
                 text-decoration: none;
             }
             #top-row {
    
             }             
             
             #middle-row {
                 background-color:cornsilk
                 color: 
             }
             
             #middle-row {
                 padding: 15px   
             }
                   
             section {
                 padding: 1em;
                 clear: both;
                 overflow: auto;
             }

             #banner img{
                 width: 100%
             }
        
             h2 {
                 line-height: 1.2
                 margin-bottom: 2 em;
             }
             
             p {
                 line-height: 1.5;
             }
             
             #top-row,
             #middle-row{
                 display: flex;
                 width: 50%
                      
             }

             #top-row img,
             #middle-row img{
                 width: 100%
             }

             #middle-row{
                 width: 50%
             }

             .align-right{
                 text-align: right
             }

             #bottom-row{
                 width: 48%
                 margin: auto;
                 text-align: center;
                 padding: ;
             }
             
             footer {
                 background-color: darkseagreen;
                 color: black;
                 padding: .05em;
                 line-height: 
             }

             .social{
                 float: left;
             }

             .social img{
                 width: 48px;
             }  